@font-face {
    font-family: 'drukcur';
    /* Название шрифта для использования в CSS */
    src: url('../fonts/DrukCur/druktextwidecyr-medium.otf') format('truetype');
    /* Путь к файлу шрифта */
    font-weight: normal;
    /* Нормальный вес шрифта */
    font-style: normal;
   
}

@font-face { 
    font-family: 'TildaSans';
    src: url('../fonts/Tilda/TildaSans-Medium.woff') format('truetype');
    font-weight: normal;
    /* Нормальный вес шрифта */
    font-style: normal;
}

@font-face { 
    font-family : 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.otf') format('otf'); 
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}
