:root {
    --background: #0d0e10;
    --absolut-white: #fff;
    --awful-color: #c2a97d;
}

body {
    background-color: var(--background);
    display: flex;
}

/* -------------------header-------------------------------------------------- */

.header {
    background-color: #2d2d2d;
    width: 200px;
    height: 100vw;
    color: var(--absolut-white);
    overflow-y: auto;
    position: fixed;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    margin-top: 60px;
}

.header__list {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__item {
    font-family: "TildaSans";
    color: var(--absolut-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__active {
    color: #ba9f73;
    font-weight: 700;
}

.header__func {
    margin-top: 30px;
    text-align: center;
    font-family: "TildaSans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__func__btn {
    width: 100%;
    height: 33px;
    border-radius: 9.75px;
    background: linear-gradient(93deg, #916f42 -0.03%, #a6906a 99.97%);
    font-family: "TildaSans";
    box-shadow: 0px 3.9px 3.9px 0px rgba(0, 0, 0, 0.25);
}

/* _---------------------------------wrapper--------------------------------------------------- */

.main {
    padding: 0 0 0 200px;
}

.wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 130px;
    margin: 0 auto;
}

.all__title {
    text-align: center;
    font-family: "drukcur";
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
    /* 35px */
    background: linear-gradient(269deg,
            #c2a97d -21.83%,
            #c2a97d -21.82%,
            #a67c46 111.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --------------------------------title-------------------------------------------------------- */
.title__container {
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.title__circle {
    position: absolute;
    border-radius: 50%;
    background-color: #eaeaea;
    /* Цвет круга */
    opacity: 0.2;
    width: 84px;
    /* Размер круга */
    height: 84px;
}

.title__circle--top {
    top: 0px;
    left: 99%;
    transform: translateX(-50%);
}

.title__circle--right {
    top: 25%;
    right: 2%;
    transform: translateY(-50%);
    width: 41px;
    /* Размер круга */
    height: 41px;
}

.title__circle--bottom {
    bottom: -35px;
    left: 52%;
    transform: translateX(-50%);
    width: 80px;
    /* Размер круга */
    height: 80px;
}

.title__content {
    display: flex;
}

.title__player {
    margin-top: 30px;
    position: relative;
}

.title__player::before {
    content: "";
    /* Обязательное свойство для псевдоэлементов */
    position: absolute;
    top: -15px;
    /* Отрицательное значение для того, чтобы обводка была внутри элемента */
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-radius: 21px;
    border: 1px solid #eaeaea;
    opacity: 0.2;
    /* Замените 'red' на цвет обводки, который вам нужен */
    box-sizing: border-box;
    /* Учитывать границу внутри размеров элемента */
    z-index: -1;
    /* Поместите обводку под содержимым .title__player */
}

.title__player img {
    display: block;
    /* Убираем пустые пространства вокруг изображения */
    width: 100%;
    /* Чтобы изображение занимало всю доступную ширину */
}

.title__disc {
    margin: 68px 0px 0px 46px;
    color: #eaeaea;
    font-family: "TildaSans";
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;
    /* 32.5px */
}

.title__line1 {
    width: 126.737px;
    height: 1px;
    opacity: 0.5;
    background-color: #eaeaea;
    margin-bottom: 7px;
}

.title__line2 {
    width: 75.895px;
    height: 1px;
    opacity: 0.5;
    background-color: #eaeaea;
    margin-top: 7px;
}

.title__head span {
    color: #eaeaea;
    font-family: "TildaSans";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.title__cities {
    margin-top: 18.42px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title__cities__var {
    display: flex;
    gap: 8.8px;
    align-items: center;
}

.title__cities__circle {
    width: 10px;
    height: 10px;
    border: #fff solid 1px;
    border-radius: 20px;
}

.title__cities__var__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;
}

/* ===========================================abstracts======================================= */
.abstracts__container {
    background-image: url(/images/abss__back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 21px 0px 32px 0px;
}

.abstracts__list {
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    /* Расстояние между карточками */
    justify-content: space-evenly;
}

.abstracts__item {
    display: flex;
    position: relative;
    width: 396px;
}

.abstracts__item::before {
    content: "";
    position: absolute;
    top: 0.5px;
    right: 0;
    bottom: 1px;
    left: 1px;
    border: 2px solid var(--awful-color);
    /* Цвет и толщина границы */
    box-sizing: border-box;
    z-index: -1;
    /* Помещаем границу под содержимым блока */
    border-radius: 15px;
}

.abstract__item__img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.abstracts__item__disc {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    z-index: 1;
    /* Чтобы текст был над границей */
    margin-top: 10px;
    margin-left: 12px;
    padding-right: 20%;
}

.abstracts__item__number {
    font-family: Tilda Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    background: linear-gradient(269deg,
            #c2a97d -21.83%,
            #c2a97d -21.82%,
            #a67c46 111.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #c2a97d;
    border-radius: 92px;
    width: 41.263px;
    height: 19.803px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abstracts__item__light {
    color: #eaeaea;

    font-family: Tilda Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}

.abstracts__item__bold {
    color: #eaeaea;
    font-family: Tilda Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

/* ---------------------------------------------------------  WORKSHOP --------------------------------------------------- */

.workshop__row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 22px;
    overflow: hidden;
    position: relative;
}

.workshop__row div {
    border-radius: 25px;
    flex: 1;
    transition: transform 0.4s, filter 0.4s, transform-origin 0.4s;
}

.workshop__row img {
    width: 100%;
    height: auto;
    filter: blur(4px);
    transform: scale(0.9);
    transform-origin: center;
}

.main-image img {
    filter: none;
    transform: scale(1);
}

.animate-fade {
    animation: animateFade 0.8s ease-in-out;
}

@keyframes animateFade {
    from {
        opacity: 0;
        transform: translateX(25%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.workshop ul {
    text-align: center;
    list-style-type: none;
    display: flex;

    margin: 0 auto;
    gap: 7px;
    flex-shrink: 0;
    padding: 15px 36px;
    width: 422px;
    border-radius: 25px;
    border: 1px solid #c2a97d;
    flex-wrap: wrap;
}

.workshop li {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 7px;
}

.workshop p {
    font-family: Tilda Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    background: linear-gradient(269deg,
            #c2a97d -21.83%,
            #c2a97d -21.82%,
            #a67c46 111.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workshop span {
    color: #fff;
    font-family: Tilda Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* ==============================maked================================================= */

.maked__content {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    gap: 14.89px;
}

.maked__item {
    border-radius: 25px;
    border: 1px solid #EAEAEA;
    display: flex;
}

.maked__item__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.maked__item__image__back {
    border-radius: 25px 25px 25px 25px;
    min-width: 205.431px;
    min-height: 206.162px;
}

.maked__item__image__hum1 {

    position: absolute;
    top: 55px;
    left: -5px;
}

.maked__item__image__hum2 {
    border-radius: 0px 0px 0px 56px;
    position: absolute;
    top: 35px;
    left: -5px;
}

.maked__item__image__price {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 15px;
    color: #FFF;
    width: 94.308px;
    height: 24.856px;
    border-radius: 30px;
    color: #FFF;
    font-family: 'TildaSans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 4px;
    padding: 4px 8px;
    /* Регулируйте отступы по вашему усмотрению */
    background: rgba(194, 169, 125, 0.6);
}

.maked__item__disc {
    display: flex;
    flex-direction: column;
    width: 176px;

    padding: 13.89px 1px 0px 10px;
}

.maked__item__disc h2 {
    color: #EAEAEA;

    font-family: 'TildaSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.maked__item__disc span {
    color: #EAEAEA;
    font-family: 'TildaSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.maked__item__disc p {
    color: #EAEAEA;

    font-family: 'TildaSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.maked__item__disc__name {
    background: linear-gradient(269deg, #C2A97D -21.83%, #C2A97D -21.82%, #A67C46 111.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Tilda Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.maked__item__disc__name span {
    background: linear-gradient(269deg, #C2A97D -21.83%, #C2A97D -21.82%, #A67C46 111.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'TildaSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.maked__item__disc__line {
    width: 171.802px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(234, 234, 234, 0.00) 4.24%, rgba(234, 234, 234, 0.80) 48.98%, rgba(234, 234, 234, 0.00) 96.61%);
    margin: 8px 0px 9px 0px;
}

.maked__item__disc__text {
    color: #EAEAEA;

    font-family: 'TildaSans';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 99%;
    padding-right: 27px;
    /* 13.86px */
}

.maked__button button {
    display: flex;
    margin: 0 auto;
    border-radius: 50px;
    background: linear-gradient(269deg, #C2A97D -4.84%, #A67C46 115.93%);
    color: var(--absolut-white);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25) inset, 0px 0px 75px 0px rgba(0, 0, 0, 0.45);
    height: 35px;
    width: 237px;
    margin-top: 22px;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    text-align: center;
    font-family: 'drukcur';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ============================catalog======================================================= */
.catalog__container {
    border-radius: 30px;
    background: #0D0D0D;

    box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.10);
}

.catalog__title {
    display: flex;
    gap: 16px;
    text-align: center;
    justify-content: center;
    padding-top: 23px;
}

.catalog__title__line {
    width: 2.209px;
    height: 35.337px;
    opacity: 0.5;
    background: #EAEAEA;
}

.catalog__category {
    display: flex;
    gap: 11px;
    margin-left: 17.67px;
    margin-top: 21.69px;
}

.catalog__category__item {
    text-align: center;
    font-family: 'TildaSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: linear-gradient(269deg, #C2A97D -21.83%, #A67C46 111.18%);
    background-clip: text;
    color: #C2A97D;
    border-radius: 42.857px;
    border: 0.5px solid #C2A97D;
    width: 110.429px;
    height: 36.81px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25) inset, 0px 0px 75px 0px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease-in-out;
}

.selected {
    border-radius: 28px;
    background: linear-gradient(269deg, #C2A97D -21.83%, #A67C46 111.18%);
    flex-shrink: 0;
    /* Используем border-box */
    background-clip: border-box;
    -webkit-background-clip: border-box;
    color: #EAEAEA;
    text-align: center;
    font-family: Tilda Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catalog__grid {
    margin: 23.11px 17.67px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.catalog__grid__container {
    margin-left: 17.77px;
}

/* ++++++++++++++++++++++++++++++++++++++item++++++++++++++++++++++++++++++++++++++++++++++++++ */

.catalog__grid__item {
    color: #EAEAEA;
    font-family: 'TildaSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 25px 25px 10px 10px;
    border: 1px solid #dfdfdf88;
}

.catalog__grid__item__kich {
    font-size: 18px;
}

.catalog__grid__item__kich span {
    font-weight: 100;
}

.catalog__grid__item__type span {
    font-weight: 100;
}

.catalog__grid__item__price {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding-bottom: 10px;
}

.catalog__grid__item__price__text {
    font-weight: 100;
}

.catalog__grid__item__price__text__num {
    background: linear-gradient(269deg, #C2A97D -21.83%, #C2A97D -21.82%, #A67C46 111.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'TildaSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catalog__grid__item__price__button {
    color: #EAEAEA;
    text-align: center;
    font-family: 'TildaSans';
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 10px;
    background: linear-gradient(269deg, #C2A97D -21.83%, #C2A97D -21.82%, #A67C46 111.18%);
    width: 122.314px;
    height: 28.286px;
    margin-top: 8px;
    margin-right: 24px;
    transition: all 0.3s ease-in-out;
}

.catalog__grid__item__price__button:hover {
    font-weight: 700;
    font-size: 16px;
}

.catalog__func {
    display: flex;
    justify-content: space-around;
    padding-bottom: 22px;
}

.catalog__func__btn {
    color: #EAEAEA;
    text-wrap: nowrap;
    text-align: center;
    font-family: 'drukcur';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 237px;
    height: 35px;
    padding: 15px 95px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(269deg, #C2A97D -4.84%, #A67C46 115.93%);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25) inset, 0px 0px 75px 0px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease-in-out;
}

.catalog__func__btn:hover {
    font-size: 16px;
}

/* ================================extra============================================= */
.extra__container {
    background-image: url(/images/extra__back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.extra__list {
    color: #EAEAEA;
    font-family: 'TildaSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: space-around;
    margin-top: 21px;
}

.extra__list__row1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: 22.82px;
    border-radius: 25px;
    background: #0D0D0D;
    box-shadow: 0px 0px 55px 0px rgba(255, 255, 255, 0.10);
    width: 331px;

}

.extra__list__row1 button {
    transition: all 0.3s ease-in-out;
}

.extra__list__row1 button:hover {
    font-size: 20px;
    box-shadow: 0px 0px 55px 0px rgba(255, 255, 255, 0.05);
}

.extra__list__row2 {
    display: flex;
    flex-direction: column;
    gap: 10.39px;
    border-radius: 25px;
    border: 2px solid #eaeaeab2;
    padding: 22.82px;
    transition: all 0.3s ease-in-out;
}

.active {
    color: #C2A97D;
}

/* ===================================ecokitch======================================= */
.ecokitch__list {
    display: flex;
    justify-content: space-between;
}

.ecokitch__func {
    display: flex;
    justify-content: space-around;
}

.ecokitch__func__btn {
    width: 237px;
    height: 35px;
    color: #EAEAEA;
    border-radius: 50px;
    background: linear-gradient(269deg, #C2A97D -4.84%, #A67C46 115.93%);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25) inset, 0px 0px 75px 0px rgba(0, 0, 0, 0.45);
    text-align: center;
    font-family: 'drukcur';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 36.68px;

}

/* =============================== benefits===================================================*/
.benefits__list {
    margin-top: 35.47px;
    display: flex;
    flex-direction: column;
    gap: 22.11px;
}

.benefits__item {
    display: flex;
    gap: 20px;
    border-radius: 26px 25px 10px 26px;
    border: 1px solid #eaeaeab6;
}

.benefits__item__image {
    position: relative;
    max-width: 100%;
    /* Для адаптивности */
}

.benefits__item__image img {
    border-radius: 25px;
    max-width: 305px;
    position: relative;
}

.benefits__item__image p {
    font-family: 'TildaSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.5%;
    color: #C2A97D;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 95%;
    text-align: left;
}

.benefits__item__list {
    margin: 17.64px 0px 17.64px 0px;
    color: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 14px;
    font-family: 'TildaSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.benefits__item__list__row {
    display: flex;
    gap: 18px;
    font-family: 'TildaSans';
}

/* =======================catalogfur========================================== */
.catalogfur__container {
    border-radius: 30px;
    background: #0D0D0D;
    box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.10);
}

.catalogfur__title {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 37.24px;
}

.catalogfur__grid {
    display: flex;
    margin-top: 21px;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
}

.catalogfur__item {
    color: #EAEAEA;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.75), 0px 0px 14px rgba(0, 0, 0, 0.75), 0px 0px 14px rgba(0, 0, 0, 0.75);
    font-family: Tilda Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 25px 25px 15px 15px;
    border: 1px solid #eaeaeaa4;
    background: #111111;
}

.catalogfur__item__image {
    position: relative;
}

.catalogfur__item__image__number {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-weight: 100;
}

.catalogfur__item__image__text {
    position: absolute;
    bottom: 10px;
    left: 9px;
}

.catalogfur__item__disc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.74px;
    
}

.catalogfur__item__disc__text {
    font-weight: 100;
}

.catalogfur__item__func__btn {
    width: 100%;
    height: 32px;
    border-radius: 15px;
    border: 1px solid #C2A97D;
    background: linear-gradient(269deg, #C2A97D -21.83%, #C2A97D -21.82%, #A67C46 111.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'drukcur';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}